p.report_details {
	font-size:16px;
}



#sidebar{

	width:10%;
	float:left;
}

#content{

	width:70%;
	float:right;
}

.scroll{
	height: 100px;
	border: 1px;
	overflow: auto;
}

.scroll2{
	height: 100px;
	width:200px;
	border: 1px;
	overflow: auto;
}

label.error { 
   float: none; color: red; 
   padding-left: .5em;
   vertical-align: top; 
   display: block;
}

.statusmsg { 
   float: none; color: red; 
   padding-left: .5em;
   vertical-align: top; 
   display: block;
}

.code{
	height: 100px;
	width: 400px;
}​

#map-canvas{margin:5px;width:525px; height:350px; color:#0000FF;text-align:left;}